#content {
    float: left; 
    background-color: blueviolet;
    height: 2000 px;
    width: 50%;
    font: 30;
}
body {
    background: red;
    
}

#content2 {
    float: right;
    background-color: green;
    height: 950 px;
    width: 50%;
    font: 50;
}
    
